.page-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 240px;
  max-width: 240px;
  max-height: 600px;
  background-color: cornflowerblue;
  border-radius: 5px;
}

.amount {
  margin: 5px 0 10px 0;
}

.claim-button {
  margin: 0 0 20px 0;
}

.login-button {
  margin: 0 0 20px 0;
}

.middle-text {
  margin-bottom: 15px;
}